# Midterm - Tereza Veselá

In [1]:
import numpy as np
from collections import defaultdict
import csv
import os
import requests
import sys

%matplotlib inline
import pandas as pd
import seaborn as sns
import math
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import zipfile
import datetime

In [6]:
current_dir = os.getcwd()
current_dir

'C:\\Users\\ttves\\Documents\\IES\\2023 2024 IES ZS - 2. roč\\Data Processing in Python'

In [26]:
list_of_files=["CTVA", "DIS", "EVRG", "LIN", "VLO"]
df=pd.DataFrame()
with zipfile.ZipFile("95965500.zip") as z:
    with z.open("data/CTVA.csv") as f: 
        CTVA =pd.read_csv(f,index_col=['Date'])
CTVA["ID"]="CTVA"
        
CTVA

,High,Low,Open,Close,Volume,Adj Close,ID
Date,,,,,,,
2019-05-24,32.000000,28.500000,29.750000,29.000000,44000.0,27.782021,CTVA
2019-05-28,30.500000,28.510000,29.250000,28.764999,61500.0,27.556889,CTVA
2019-05-29,29.900000,27.660000,29.900000,28.500000,207800.0,27.303020,CTVA
2019-05-30,29.160000,28.219999,28.990000,28.799999,666000.0,27.590422,CTVA
2019-05-31,28.590000,26.969999,28.500000,26.969999,853800.0,25.837276,CTVA
...,...,...,...,...,...,...,...
2022-11-07,67.019997,65.260002,65.330002,66.040001,3421800.0,66.040001,CTVA
2022-11-08,67.519997,65.879997,66.089996,67.190002,2901300.0,67.190002,CTVA
2022-11-09,67.870003,66.735001,67.070000,67.050003,3595000.0,67.050003,CTVA
2022-11-10,68.029999,66.529999,68.029999,67.209999,4523900.0,67.209999,CTVA
2022-11-11,68.099998,64.294998,67.860001,64.769997,5138000.0,64.769997,CTVA

In [27]:
list_of_files=["CTVA", "DIS", "EVRG", "LIN", "VLO"]
df=pd.DataFrame()
with zipfile.ZipFile("95965500.zip") as z:
    with z.open("data/DIS.csv") as f: 
        DIS =pd.read_csv(f,index_col=['Date'])
DIS["ID"]="DIS"
        
DIS

,High,Low,Open,Close,Volume,Adj Close,ID
Date,,,,,,,
2017-11-13,105.139999,103.980003,104.139999,104.739998,7856000.0,101.047302,DIS
2017-11-14,104.570000,103.000000,104.570000,103.169998,6929300.0,99.532654,DIS
2017-11-15,103.959999,102.449997,102.750000,103.690002,5691500.0,100.034317,DIS
2017-11-16,103.980003,102.760002,103.629997,103.599998,6410900.0,99.947495,DIS
2017-11-17,103.989998,102.970001,103.220001,103.440002,7500800.0,99.793129,DIS
...,...,...,...,...,...,...,...
2022-11-07,101.559998,98.989998,100.879997,100.430000,11355200.0,100.430000,DIS
2022-11-08,101.970001,98.050003,100.739998,99.900002,27130300.0,99.900002,DIS
2022-11-09,91.099998,86.279999,90.550003,86.750000,62029800.0,86.750000,DIS
2022-11-10,90.500000,87.610001,89.750000,90.459999,36968100.0,90.459999,DIS
2022-11-11,95.580002,91.099998,91.580002,95.010002,22320900.0,95.010002,DIS

In [30]:
list_of_files=["CTVA", "DIS", "EVRG", "LIN", "VLO"]
df=pd.DataFrame()
with zipfile.ZipFile("95965500.zip") as z:
    with z.open("data/EVRG.csv") as f: 
        EVRG =pd.read_csv(f,index_col=['Date'])
EVRG["ID"]="EVRG"
        
EVRG

,High,Low,Open,Close,Volume,Adj Close,ID
Date,,,,,,,
2017-11-13,54.740002,53.869999,53.869999,54.720001,755000.0,47.549511,EVRG
2017-11-14,55.509998,54.470001,54.509998,55.490002,808800.0,48.218613,EVRG
2017-11-15,55.520000,55.160000,55.450001,55.400002,867300.0,48.140404,EVRG
2017-11-16,55.910000,55.130001,55.299999,55.869999,1061900.0,48.548809,EVRG
2017-11-17,55.799999,55.320000,55.709999,55.419998,668700.0,48.157772,EVRG
...,...,...,...,...,...,...,...
2022-11-07,62.599998,60.459999,62.599998,61.240002,1444500.0,61.240002,EVRG
2022-11-08,62.000000,61.060001,61.439999,61.480000,1873000.0,61.480000,EVRG
2022-11-09,61.490002,59.439999,61.220001,60.130001,2902100.0,60.130001,EVRG
2022-11-10,62.110001,59.669998,61.880001,61.700001,2212000.0,61.700001,EVRG
2022-11-11,61.650002,58.910000,61.610001,59.389999,2466000.0,59.389999,EVRG

In [31]:
list_of_files=["CTVA", "DIS", "EVRG", "LIN", "VLO"]
df=pd.DataFrame()
with zipfile.ZipFile("95965500.zip") as z:
    with z.open("data/LIN.csv") as f: 
        LIN =pd.read_csv(f,index_col=['Date'])
LIN["ID"]="EVRG"
        
LIN

,High,Low,Open,Close,Volume,Adj Close,ID
Date,,,,,,,
2017-11-13,148.570007,145.740005,146.389999,148.149994,1455900.0,137.255859,EVRG
2017-11-14,147.830002,146.529999,147.809998,147.630005,1056100.0,136.774109,EVRG
2017-11-15,147.500000,145.869995,147.210007,146.169998,1943800.0,135.421478,EVRG
2017-11-16,149.080002,146.779999,147.500000,149.039993,1779900.0,138.080414,EVRG
2017-11-17,151.440002,149.039993,149.110001,150.639999,2930700.0,139.562729,EVRG
...,...,...,...,...,...,...,...
2022-11-07,313.950012,309.420013,311.089996,313.489990,1575900.0,313.489990,EVRG
2022-11-08,318.510010,313.690002,314.700012,314.709991,1520000.0,314.709991,EVRG
2022-11-09,318.869995,313.329987,315.700012,314.440002,1165500.0,314.440002,EVRG
2022-11-10,330.130005,324.540009,330.000000,328.369995,2683400.0,328.369995,EVRG
2022-11-11,334.260010,329.489990,333.170013,330.220001,2133700.0,330.220001,EVRG

In [33]:
list_of_files=["CTVA", "DIS", "EVRG", "LIN", "VLO"]
df=pd.DataFrame()
with zipfile.ZipFile("95965500.zip") as z:
    with z.open("data/VLO.csv") as f: 
        VLO =pd.read_csv(f,index_col=['Date'])
VLO["ID"]="VLO"
        
VLO

,High,Low,Open,Close,Volume,Adj Close,ID
Date,,,,,,,
2017-11-13,81.519997,80.610001,81.239998,80.669998,2568500.0,65.271454,VLO
2017-11-14,81.589996,80.489998,80.550003,81.370003,3108700.0,65.837830,VLO
2017-11-15,81.690002,80.000000,80.889999,81.480003,3122000.0,65.926819,VLO
2017-11-16,82.610001,81.209999,81.309998,82.120003,4322600.0,66.444687,VLO
2017-11-17,82.919998,81.750000,81.849998,82.879997,2897400.0,67.059593,VLO
...,...,...,...,...,...,...,...
2022-11-07,132.929993,128.820007,129.080002,131.779999,3767900.0,131.779999,VLO
2022-11-08,133.110001,129.529999,131.820007,132.250000,3736900.0,132.250000,VLO
2022-11-09,133.550003,127.260002,131.570007,128.000000,4125900.0,128.000000,VLO
2022-11-10,132.600006,128.199997,130.720001,132.449997,2916300.0,132.449997,VLO
2022-11-11,136.169998,132.699997,134.440002,133.960007,4438000.0,133.960007,VLO

In [38]:
CTVA.merge(DIS, left_on="Date", right_on="ID")

KeyError: 'ID'

In [40]:
url = f'https://ies-python-midterm.s3.eu-central-1.amazonaws.com/companies/companies_no_subindustry.csv'
        r = request.get(url)

IndentationError: unexpected indent (485773210.py, line 2)

In [69]:
df = pd.read_csv('companies_no_subindustry.csv', sep = ',', on_bad_lines= 'skip')
df

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
499,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
500,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
501,ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

1. Find out how many companies do not filled-in the date of inclusion (column
“included”) to S&P 500.

In [45]:
df['included'].isna().sum()

45

2. Delete the companies with no inclusion date and calculate which company is the
oldest/youngest constituent and tell us the average age of a constituent in the sample.

In [50]:
df_clean=df[~df['included'].isna()]
df_clean

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
499,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
500,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
501,ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

oldest constituent

In [65]:
date_old=df_clean['included'].min()
date_old

'01.01.1994'

In [67]:
df_clean.head()

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981

In [66]:
df_clean.loc['01.01.1994']

KeyError: '01.01.1994'

youngest constituent

In [71]:
date_young=df_clean['included'].max()
date_young

'31.12.2012'

In [72]:
df_clean.loc['31.12.2012']

KeyError: '31.12.2012'

average company age

In [79]:
df['Founded'] = df['Year'].astype(str).astype(int)

KeyError: 'Year'